.subtotal{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 108px;
	width: 420px;
	padding:20px;
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	border-radius: 3px;
}

.subtotal__info{
	display: flex;

}